<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Order Detail</title>
</head>
<body>
<h1>Add Order Detail</h1>
<form th:object="${orderDetail}" th:action="@{/order-details}" method="post">
    <label for="orderId">Order ID:</label>
    <input type="number" id="orderId" th:field="*{order.id}"><br>
    <label for="productId">Product ID:</label>
    <input type="number" id="productId" th:field="*{product.id}"><br>
    <label for="price">Price:</label>
    <input type="number" id="price" th:field="*{price}"><br>
    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" th:field="*{quantity}"><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>
